Script Purpose: Scrape cafes' reviews from Google Map

Coding Reference: https://www.linkedin.com/pulse/webscrape-google-map-reviews-using-selenium-python-choy-siew-wearn/?trk=pulse-article_more-articles_related-content-card

List of cafes:
- Close to the beaches (Queen St E.)
    - Bud's Coffee
    - Juice & Java Cafe
    - The Beacher Cafe
    - Simple Coffee
    - Remarkable Beans
    - The Haven Low-Carb Cafe
- Financial District (Bay St.)
    - Dineen Coffee Co.
    - Mos Mos Coffee
    - NEO COFFEE BAR
    - Coffee Island
    - White Rabbit Caffe
    - Dispatch Coffee

In [1]:
import pandas as pd
import time

import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By

from webdriver_manager.chrome import ChromeDriverManager

from bs4 import BeautifulSoup

In [2]:
# Create the function for getting reviews through url

def getReviews(cafe_name,street_name, url):
    import time 
    
    # Initialize WebDriver
    driver = webdriver.Chrome()

    # Specify the name here
    resturant_name = cafe_name

    # Replace the URL here
    url = url
    print(url)
    driver.get(url)

    #time.sleep(5)
    # Get the total number of reviews
    num_reviews = driver.find_element("xpath","//*[@id='QA0Szd']/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div[2]/div/div[2]/div[2]").text
    num_reviews = int(num_reviews.split(' ')[0].replace(",",''))

    # Click Sort button and select "Newest"
    # Page Source - Inspect - Locate the button and copy XPATH
    driver.find_element("xpath",'//*[@id="QA0Szd"]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div[7]/div[2]/button').click()
    time.sleep(1)

    driver.find_element("xpath","//*[@id='action-menu']/div[2]").click()
    time.sleep(5)

    # Scoll the review pages from top to bottom
    SCROLL_PAUSE_TIME = 5
    number = 0

    while True:
        number = number+1

        # Scroll down to bottom    
        ele = driver.find_element('xpath','//*[@id="QA0Szd"]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]')
        driver.execute_script('arguments[0].scrollBy(0, 5000);', ele)

        # Wait to load page
        time.sleep(SCROLL_PAUSE_TIME)

        if number >= num_reviews/10:
            break

    # Store all reviews elements
    item = driver.find_elements("xpath",'//*[@id="QA0Szd"]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div[9]')
    time.sleep(3)

    # Initialize dataframe for reviews
    review_df = pd.DataFrame(index=range(1000),columns=['cafe','street','user','time','stars','reviews'])
    review_df['cafe'] = cafe_name
    review_df['street'] = street_name
    
    for i in item:
        button = i.find_elements(By.TAG_NAME,'button')
        for m in button:
            if m.text == "More":
                m.click()
        time.sleep(5)

        #name = i.find_elements(By.CLASS_NAME,"d4r55")
        #time = i.find_elements(By.CLASS_NAME,"kvMYJc") #star
        #stars = i.find_elements(By.CLASS_NAME,"wiI7pd")
        #reviews = i.find_elements(By.CLASS_NAME,"rsqaWe")
        
        # Search by tag name and class name
        users = i.find_elements(By.CLASS_NAME,"d4r55")
        time = i.find_elements(By.CSS_SELECTOR,"span.rsqaWe") 
        
        stars = i.find_elements(By.CLASS_NAME,"kvMYJc") 
        reviews = i.find_elements(By.CSS_SELECTOR,"span.wiI7pd")
        
        idx = 0
        for u,t,s,r in zip(users,time,stars,reviews):
            review_df['user'][idx] = u.text
            review_df['time'][idx] = t.text

            review_df['stars'][idx] = s.get_attribute("aria-label")
            review_df['reviews'][idx] = r.text
        
            idx = idx + 1
        

    review_df = review_df.dropna(thresh=4)
    #review_df.to_csv('google_review_{}.csv'.format(resturant_name),index=False)

    return review_df

In [3]:
# Read the list of cafes and their reviews URL
urls = pd.read_excel('CafesURL.xlsx')
urls.head()

,Cafe,Street,Review URL
0,Bud's Coffee,Queen St E,https://www.google.ca/maps/place/Bud's+Coffee/...
1,Juice & Java Cafe,Queen St E,https://www.google.ca/maps/place/Juice+%26+Jav...
2,The Beacher Cafe,Queen St E,https://www.google.ca/maps/place/The+Beacher+C...
3,Simple Coffee,Queen St E,https://www.google.ca/maps/place/Simple+Coffee...
4,Remarkable Beans,Queen St E,https://www.google.ca/maps/place/Remarkable+Be...

In [5]:
#merged_df = pd.DataFrame()

for i in range(5,len(urls)):
    cafe_name = urls['Cafe'][i]
    cafe_street = urls['Street'][i]
    cafe_url = urls['Review URL'][i]

    df = getReviews(cafe_name=cafe_name, street_name=cafe_street, url=cafe_url)

    merged_df = pd.concat([merged_df,df], ignore_index=True)
    merged_df.head()

https://www.google.ca/maps/place/The+Haven+Low-Carb+Cafe/@43.6731409,-79.2887343,17z/data=!4m8!3m7!1s0x89d4cfd9957d5bb3:0xe9a93bbc3145dac!8m2!3d43.6731409!4d-79.2865456!9m1!1b1!16s%2Fg%2F11qpfw2c4s
https://www.google.ca/maps/place/Dineen+Coffee+Co./@43.6481326,-79.3816976,17z/data=!4m8!3m7!1s0x89d4cbb2049c3135:0x5392cad6809f0c78!8m2!3d43.6481326!4d-79.3795089!9m1!1b1!16s%2Fg%2F11g0gwsgvb
https://www.google.ca/maps/place/Mos+Mos+Coffee+%26+Cookie+Shop/@43.6576435,-79.3842556,17z/data=!4m8!3m7!1s0x882b3531a916b775:0x40c1b2e3f50b4c68!8m2!3d43.6576435!4d-79.3842556!9m1!1b1!16s%2Fg%2F11h07mtbzg
https://www.google.ca/maps/place/NEO+COFFEE+BAR/@43.6601367,-79.3880579,17z/data=!4m8!3m7!1s0x882b35ca7fa5ba63:0xd16c33763cf90df4!8m2!3d43.6601367!4d-79.3858692!9m1!1b1!16s%2Fg%2F11h_vx0h1n
https://www.google.ca/maps/place/Coffee+Island/@43.664212,-79.3889548,17z/data=!4m8!3m7!1s0x882b34b14e1b96e5:0xe176339186f4cf1e!8m2!3d43.664212!4d-79.3867661!9m1!1b1!16s%2Fg%2F11dybbxv9c
https://www.google.ca/maps/place/White+Rabbit+Caffe/@43.6590503,-79.3870895,17z/data=!4m8!3m7!1s0x882b353d249be5fd:0x5c6ef5f629a594fd!8m2!3d43.6590503!4d-79.3849008!9m1!1b1!16s%2Fg%2F11j4skrpjd
https://www.google.ca/maps/place/Dispatch+Coffee/@43.6513064,-79.3842437,17z/data=!3m1!5s0x89d4cd5918436f33:0xf121c7f50cb203c0!4m8!3m7!1s0x882b355c162044e9:0x60399898cf00bcb!8m2!3d43.6513064!4d-79.382055!9m1!1b1!16s%2Fg%2F11pvbmq_hl

In [6]:
#merged_df = merged_df.dropna(thresh=4)
merged_df.tail()

,cafe,street,user,time,stars,reviews
3257,Dispatch Coffee,Bay St,Gabriel Lessard,a year ago,5 stars,Great coffee!
3258,Dispatch Coffee,Bay St,Adam Gilani,a year ago,5 stars,
3259,Dispatch Coffee,Bay St,G,a year ago,1 star,"It costs 3.50 for a their large size cup, whic..."
3260,Dispatch Coffee,Bay St,N'Gatta Aka,a year ago,5 stars,I am a long time subscriber of their monthly d...
3261,Dispatch Coffee,Bay St,Erinna Sanders,a year ago,5 stars,Really good coffee. Super friendly staff!!

In [7]:
merged_df.head()

,cafe,street,user,time,stars,reviews
0,Bud's Coffee,Queen St E,David Baker,a week ago,4 stars,
1,Bud's Coffee,Queen St E,Michael Bunga,a week ago,5 stars,
2,Bud's Coffee,Queen St E,Jeffrey Taylor,2 weeks ago,5 stars,Great coffee and fresh baked goods.\nTalking w...
3,Bud's Coffee,Queen St E,Dasong Zou,2 weeks ago,5 stars,I had a great tea here. Very pleasant.
4,Bud's Coffee,Queen St E,Carrie T,4 weeks ago,4 stars,

In [8]:
merged_df.to_csv('cafes_reviews.csv', index = False)

In [ ]:
import os 
import glob

path = os.getcwd()
csv_files = glob.glob(os.path.join(path,"*.csv"))

merged_df = pd.DataFrame()
for f in csv_files:
    df = pd.read_csv(f)
    df['Cafe'] = f.split("\\")[-1].split('_')[-1].split('.')[0]

    print('Location:', f)
    print('File Name:', f.split("\\")[-1])

    merged_df = pd.concat([merged_df,df], ignore_index=True)

Location: c:\Users\shans\OneDrive\Desktop\GitHub\google-resturant-reviews-analysis\cafes_reviews.csv
File Name: cafes_reviews.csv
Location: c:\Users\shans\OneDrive\Desktop\GitHub\google-resturant-reviews-analysis\oldcafes_reviews.csv
File Name: oldcafes_reviews.csv
Location: c:\Users\shans\OneDrive\Desktop\GitHub\google-resturant-reviews-analysis\test.csv
File Name: test.csv